* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.contaner {
  max-width: 1400px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  margin: 0 auto;
  padding: 25px 10px;
}

.header {
  background-image: url(../images/GoTrieop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 1057px;
  border-radius: 50px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
}

.menu__list {
  display: flex;
}

.menu__list-link {
  padding-right: 80px;
}

.user-nav__link {
  font-size: 16px;
  line-height: 24px;
  border-radius: 25px;
  margin-left: 25px;
}

.user-nav__link + .user-nav__link {
  margin-right: 14px;
  border-color: transparent;
  background-color: #ff584e;
  color: #ffffff;
  padding: 13px 44px;
}

.top {
  display: flex;
  text-align: inherit;
}

.top__inner {
  margin-top: 160px;
}

.top__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  padding: 12px 30px;
}

.top__title {
  width: 603px;
  height: 249px;
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  margin-top: 40px;
}
.top__text {
  width: 519px;
  height: 76px;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  color: #ffffff;
  opacity: 0.5;
}

.top__btn {
  font-weight: 600;
  font-size: 25px;
  line-height: 37px;
  color: #fefefe;
  padding: 38px 90px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 27px;
}

.top__img {
  position: absolute;
  width: auto;
  height: 934px;
  top: 111px;
  right: 0px;
  left: 300px;
}

.dest {
  margin-top: 111px;
}

.dest__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #0f1f1c;
}

.dest__title2 {
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  color: #0f1f1c;
}

.dest__text {
  width: 456px;
  height: 76px;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  color: #0f1f1c;
  opacity: 0.5;
}

.dest__btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #fefefe;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 27px;
  padding: 25px 45px;
}

.slider__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: 335px;
}
